#backtop {
    opacity: 1;
    position: fixed;
    right: 2%;
    bottom: -10%;
    background: #FFF;
    padding: 15px;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .5s;
}

.backtopShow {
    bottom: 2% !important;
}