.stastics-page {
    margin: 48px 0  ;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    h1 {
        margin-bottom: 48px;
    }

    .charts-section {
        .container {
            display: grid;
            gap: 100px;
            grid-template-columns: 1fr 1fr;
        }
    }
    .charts-section__content {
    }
}